<!DOCTYPE HTML>
<!--
	Created by Yuan
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>GDSub</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="icon" href="/images/googledev_small.png"/>
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

  <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <section id="main">
    <header>
      <h1>GDSub Tools</h1>
      <h3>Translator.beta</h3>
      <br/>

    </header>

    <hr />


    <div class="field">
      <li>
        <div class="field">
          <div class="field">
            <textarea name="message" id="english" placeholder="english" rows="3" cols="80" disabled><%=english %></textarea>
          </div>

        </div>
        <div class="field">
          <textarea name="message" id="chinese" placeholder="中文翻译" rows="3" cols="80" ><%=chinese %></textarea>
        </div>
        <div class="field">
          <input type="text" name="translator" id="translator" placeholder="译者" value=<%=translator %>  >
        </div>
        <br>
        <br>
    </div>
    <div class="field">
      <ul class="actions">
        <li><a onclick="previous()" class="button">Previous</a></li>
        <li><a onclick="" class="button">Submit</a></li>
        <li><a onclick="next()" class="button">Next</a></li>
      </ul>
    </div>
    <hr />
    <a>GDSub Team <br><br>Email: yuan@gdsub.com</a>
  </section>

  <!-- Footer -->
  <footer></footer>

</div>

<!-- Scripts -->
<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
<script>
    if ('addEventListener' in window) {
        window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
    console.log('path:' + window.location.pathname);
    var index = 1;
    function next(){
        index++;
        if(index <= 39){
            window.location.href = "http://35.194.218.130:8088/translate/ITS9dtmduJQ/" + index;
        }else{
            index = 39;
            console.log('reached last element in document');
        }


    }

    function previous(){
        index--;
        if(index >= 1){
            window.location.href = "http://35.194.218.130:8088/translate/ITS9dtmduJQ/" + index;
        }else{
            index = 1;
            console.log('reached first element in document');
        }
    }

</script>

</body>
</html>
